* {
    font-family: monospace;
    box-sizing: border-box;
}
.alert-info {
    display: none;
}
ul {
    list-style: none;
    margin: auto;
    display: flex;
}
li {
    position: relative;
    bottom: 50px;
    margin: 1em;
}
nav {
    float: right;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}
.header-img {
    display: flex;
    position: relative;
    right: -200px;
}
.main {
    display:flex;
    flex-direction: column;
    width:50%;

}
.sub-section {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
    float:right;
    position: relative;
    bottom: 110px;
}
footer {
    position: relative;
    top: 350px;
}
@media screen and (max-width: 800px) {
    .alert-info{
        display: flex;
        background: lightblue;
        justify-content: center;
        width: 80%;
        margin-left: 6em;
        border: 2px solid lightgray;

    }

    .alert-info>a {

        text-decoration: none;
        color: black;
        margin: 1em;

    }


    h1 {
        font-size: 4em;
        margin-bottom: 1em;
        margin-left: 2.5em;
        }

    nav {
        box-sizing: border-box;
        align-items: center;
    }

    ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }

    li {

        align-items: center;
        width: 300px;
        background-color: lightgray;
        list-style-type: none;
        border: 1px solid lightgray;
        padding: 1em;
        text-align: center;
        margin: 1em;

    }
    .header-img {
        align-items: center;
        width: 300px;
        margin-right: 50em;
        justify-content: center;
        left: 6.5em;
    }
    .main {
        width: 300px;
        margin: auto;
        left: 3em;
    }
    h2 {
        margin-bottom: 0;
    }
    .sub-section {
        font-style: italic;
        width: 300px;
        margin: auto;
        top: 2em;
    }
}





